<header id="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col">
                <a class="logo">
                    <img src="assets/images/logo.png">
                </a>
               
            </div>
            <div class="col-sm-3 ml-auto col search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <!-- <div class="col-sm-3 my-account">
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle" href="javascript:void(0);" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        My Account
                </a>
                    <div class="dropdown-menu _right0" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</header>