<section id="layout_header">

  <div class="row">
    <div class="col col-sm-4">
      <h2 class="ttl2">Plant Classification</h2>
    </div>
    <div class="col">
      <div class="form-group">
        <input class="form-control cust-input" [(ngModel)]='request.plantCode' type="text" required placeholder="Search for plant classification code">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <input class="form-control cust-input" [(ngModel)]='request.plantName' type="text" required placeholder="Search for plant classification name">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <select class="form-control cust-input" [(ngModel)]='request.status'>
          <option value="">meassurement status</option>
          <option value="1">Active</option>
          <option value="0">InActive</option>
        </select>
      </div>
    </div>
    <div class="col search_btn text-right col-2">
      <button>
        <i class="fa fa-search" (click)="getPlantClassification()"></i>
      </button>
      <button>
        <i class="fa fa-refresh"(click)="reset();"></i>
      </button>
    </div>
  </div>

  <table class="table tbl_head">
    <colgroup>
      <col style="width:20%;" />
      <col style="width:20%;" />
      <col style="width:20%;" />
      <col style="width:20%;" />
      <col style="width:20%;" />

    </colgroup>
    <thead>
      <tr>
        <th>Select</th>
        <th>Plant Classification Code</th>
        <th>Plant Classification Name</th>
        <th>Unit Of Measure</th>
        <th>Status</th>
      </tr>
    </thead>

  </table>
</section>
<!-- fixed header layout -->

<!-- fixed content layout -->
<section id="main_content">
  <div class="slimScroll">
    <div class="table-responsive text-center">
      <table class="table-striped table tbl_body">
        <tbody>
          <tr *ngFor="let plant of List | paginate: {id:'plant', itemsPerPage: records, currentPage: p };let i=index;" (click)="viewRecord(plant)">
            <td>
              <div class="cust-check" (click)="selectedRecords(plant,$event)">
                <input type="checkbox" [checked]="plant.checked==true" />
                <label></label>
              </div>

            </td>
            <td>{{plant.code}}</td>
            <td>{{plant.name}}</td>
            <td>{{plant.measureUnitTO.name}}</td>
            <td>{{plant.status}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</section>
<!-- fixed content layout -->

<!-- fixed footer layout -->
<div class="tbl_footer btns text-right" id="layout_footer">
  <div class="row ml-0 mr-0 pagination_block">
    <div class="col col-sm-3 text-left">
      <label>Total No OF Records :</label>
      <select [(ngModel)]="records">
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        <option value="35">35</option>
        <option value="40">40</option>
        <option value="45">45</option>
        <option value="50">50</option>
      </select>
    </div>
    <div class="col col-sm-9 text-right" style="display: inline-block">
      <div class="row">
        <div class="col col-sm-6 text-right">
          <pagination-controls id="plant" maxSize="4" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="col col-sm-6 text-right">
          <button type="button" class="btn btn-primary" [disabled]="selectedlist.length!==1" (click)="edit()">Edit</button>
          <button type="button" class="btn btn-danger">Deactivate</button>
          <button class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#plantclasification">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="plantclasification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Plant Classification create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form_block" non-validate [formGroup]="plant_creation" (ngSubmit)="savePlant(); ">
        <div class="row">
          <div class="form-group col-md-6 col ">
            <label for="companyid" class="form-label">Plant Resource Code </label>
            <input type="text " formControlName="plant_code" class="form-control form-input " id="companyid" #companyid required (change)="verifyCode(companyid.value)">
            <app-error-messages [control]="plant_creation.controls['plant_code']"></app-error-messages>

          </div>
          <div class="form-group col-md-6 col">
            <label for="companyname" class="form-label">Plant Resource Name</label>
            <input type="text " formControlName="plant_name" class="form-control form-input " id="companyname" required>
            <app-error-messages [control]="plant_creation.controls['plant_name']"></app-error-messages>
          </div>

        </div>
        <div class="row">
          <div class="form-group col-md-6 col">
            <label for="businesscategory" class="form-label">Unit Of Measures </label>
            <select class="form-control" id="businesscategory" formControlName="units_of_meas">
              <option value="" selected disabled>select</option>
              <option *ngFor="let units of mUnits" [value]="units.id">{{units.name}}</option>
              <!-- <option value="Manpower Supplier">Manpower Supplier</option>
              <option value="Plant Supplier">Plant Supplier</option>
              <option value="Material Supplier">Material Supplier</option>
              <option value="Service Provider">Service Provider</option> -->
            </select>
            <app-error-messages [control]="plant_creation.controls['units_of_meas']"></app-error-messages>
          </div>
          <!-- <div class="form-group col-md-6 col">
            <label for="companycategory" class="form-label">Company Category</label>
            
            <app-error-messages [control]="plant_creation.controls[ 'company_category']"></app-error-messages>
    
          </div> -->
        </div>
        <div class="row   align-center">
          <div class="col-md-5 col"></div>
          <div class="col-md-2 col">
            <button type="submit" class="btn btn-primary" [disabled]="plant_creation.invalid || isUnique">Save</button>
          </div>
          <div class="col-md-5 col"></div>
        </div>


      </form>
    </div>
  </div>
</div>
