<!-- <div class="tenant">
  <h2 class="ttl2 text-center">Weather Classification</h2>
  <form class="form_block" non-validate [formGroup]="weather_creation" (ngSubmit)="saveDetails(); ">
    <div class="row">
      <div class="form-group col-md-6 col ">
        <label for="companyid" class="form-label">Weather Classification Code</label>
        <input type="text " formControlName="code" class="form-control form-input " id="companyid" required>
        <app-error-messages [control]="weather_creation.controls[ 'code']"></app-error-messages>

      </div>
      <div class="form-group col-md-6 col">
        <label for="companyname" class="form-label">Weather Classification Name</label>
        <input type="text " formControlName="name" class="form-control form-input " id="companyname" required>
        <app-error-messages [control]="weather_creation.controls[ 'name']"></app-error-messages>
      </div>

    </div> -->
<!-- <div class="row">
      <div class="form-group col-md-6 col">
        <label for="businesscategory" class="form-label">Classification</label>
        <select class="form-control" id="businesscategory" formControlName="classification">
          <option value="">Business Category</option>
          <option value="Manpower Supplier">Manpower Supplier</option>
          <option value="Plant Supplier">Plant Supplier</option>
          <option value="Material Supplier">Material Supplier</option>
          <option value="Service Provider">Service Provider</option>
        </select>
        <app-error-messages [control]="weather_creation.controls[ 'classification']"></app-error-messages>
      </div>
      <div class="form-group col-md-6 col">
        <label for="companycategory" class="form-label">Company Category</label>
        
        <app-error-messages [control]="weather_creation.controls[ 'company_category']"></app-error-messages>

      </div>
    </div> -->
<!-- <div class="row   align-center">
  <div class="col-md-10 col"></div>
  <div class="col-md-2 col">
    <button type="submit" class="btn btn-primary" [disabled]="weather_creation.invalid">Save</button>
  </div>
  <div class="col-md-5 col"></div>
</div>


</form>
</div> -->
