<section id="layout_header">
  <div class="row">
    <div class="col col-sm-4">
      <h2 class="ttl2">Country and state province codes</h2>
    </div>
    <div class="col">
      <div class="form-group">
        <input class="form-control cust-input" [(ngModel)]='request.countryCode' type="text" required placeholder="Search for costcode classification code">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <input class="form-control cust-input" [(ngModel)]='request.countryName' type="text" required placeholder="Search for costcode classification name">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <select class="form-control cust-input" [(ngModel)]='request.status'>
          <option value="">meassurement status</option>
          <option value="1">Active</option>
          <option value="0">InActive</option>
        </select>
      </div>
    </div>
    <div class="col search_btn text-right col-2">
      <button>
        <i class="fa fa-search" (click)="getCSPcodes()"></i>
      </button>
      <button>
        <i class="fa fa-refresh" (click)="reset();"></i>
      </button>
    </div>
  </div>

  <table class="table tbl_head">
    <colgroup>
      <col style="width:10%;" />
      <col style="width:20%;" />
      <col style="width:20%;" />
      <col style="width:20%;" />
      <col style="width:15%;" />
      <col style="width:15%;" />
    </colgroup>
    <!-- <thead>
      <tr>
        <th>Select</th>
        <th>Cost Code Classification Code</th>
        <th>Cost Code Classification Name</th>
        <th>Status</th>
      </tr>
    </thead> -->
    <thead>
      <tr>
        <th>Select</th>
        <th>Country Code</th>
        <th>Country Name</th>
        <th>State/Province codes</th>
        <th>From Date</th>
        <th>To Date</th>
      </tr>
    </thead>

  </table>
</section>

<section id="main_content">
  <div class="slimScroll">
    <div class="table-responsive text-center">
      <table class="table-striped table tbl_body">
        <colgroup>
          <col style="width:10%;" />
          <col style="width:20%;" />
          <col style="width:20%;" />
          <col style="width:20%;" />
          <col style="width:15%;" />
          <col style="width:15%;" />
        </colgroup>
        <tbody>
          <tr *ngFor="let coc of List | paginate: {id:'countrystate', itemsPerPage: records, currentPage: p } | filterPipe: (mCode) ? mCode:((mName)?mName :mStatus) : (mCode) ? 
            'measurement_code': ((mName)?'measurement_name' :'status'
            );let i=index;" (click)="viewRecord(coc)">
            <td>
              <div class="cust-check" (click)="selectedRecords(coc,$event)">
                <input type="checkbox" [checked]="coc.checked==true" />
                <label></label>
              </div>

            </td>
            <td>{{coc.code}}</td>
            <td>{{coc.name}}</td>
            <td>{{coc.currencyTO.name}}</td>
            <td>{{coc.startDate}}</td>
            <td>{{coc.finishDate}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</section>

<div class="tbl_footer btns text-right" id="layout_footer">
  <div class="row ml-0 mr-0 pagination_block">
    <div class="col col-sm-3 text-left">
      <label>Total No OF Records :</label>
      <select [(ngModel)]="records">
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        <option value="35">35</option>
        <option value="40">40</option>
        <option value="45">45</option>
        <option value="50">50</option>
      </select>
    </div>
    <div class="col col-sm-9 text-right" style="display: inline-block">
      <div class="row">
        <div class="col col-sm-6 text-right">
          <pagination-controls id="countrystate" maxSize="4" (pageChange)="p = $event"></pagination-controls>
        </div>
        <div class="col col-sm-6 text-right">
          <button type="button" class="btn btn-primary" (click)="edit()">Edit</button>
          <button type="button" class="btn btn-danger">Deactivate</button>
          <button class="btn btn-success" type="button" data-toggle="modal" data-target="#countrycreate">Create</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="countrycreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Country State Provinence Create</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form_block" non-validate [formGroup]="Country_creation" (ngSubmit)="saveDetails(); ">
        <div class="modal-body">
          <div class="tenantDetails">

            <div class="row">
              <div class="form-group col-md-6 col ">
                <label for="companyid" class="form-label">Country Code</label>
                <input type="text " formControlName="code" class="form-control form-input " (change)="verifyCode(code.value)" #code id="companyid"
                  required>
                <app-error-messages [control]="Country_creation.controls[ 'code']"></app-error-messages>

              </div>
              <div class="form-group col-md-6 col">
                <label for="companyname" class="form-label">Country Name</label>
                <input type="text " formControlName="name" class="form-control form-input " id="companyname" required>
                <app-error-messages [control]="Country_creation.controls[ 'name']"></app-error-messages>
              </div>

            </div>
            <div class="row">
              <div class="form-group col-md-6 col ">
                <label for="companyid" class="form-label">Financial Year Start Date</label>
                <input type="date" formControlName="startdate" class="form-control form-input " id="startdate" required>
                <app-error-messages [control]="Country_creation.controls[ 'startdate']"></app-error-messages>

              </div>
              <div class="form-group col-md-6 col">
                <label for="companyname" class="form-label">Financial Year End Date</label>
                <input type="date" formControlName="enddate" class="form-control form-input " id="enddate" required>
                <app-error-messages [control]="Country_creation.controls[ 'enddate']"></app-error-messages>
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="Country_creation.invalid || isUnique">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
